
body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    display: grid;
    box-sizing: border-box;
    grid-template-areas: "Header"
    "Content"
    "Footer";
    grid-template-rows: 6.5% auto 5%;
    /* height: 100vh; */
}

header {
    text-align: center;
    line-height: 1vh;
    grid-area: Header;
    margin-top: 1.5%;
}

#nav {
    padding-top: 10px;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 95%;
}

footer { 
    text-align: center;
    grid-area: Footer;
}

figcaption {
    font-size: 85%;
    font-style: italic;
}

.fun {
    color: mediumaquamarine;    
}

#greeting {
text-align: center;
}

#greeting>img {
    width: 60%;
}

ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}

li:before {
    content: "+";
    position: relative;
    left: -1%;
}

#oli {
    text-align: left;
    padding: 5%;
}

#ango {
    text-align: right;
    padding: 5%;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px rgb(150, 233, 205);
    transition: .5s all ease;
}

h1:hover {
    text-shadow: none;
}

h3 {
    text-align: center;
    font-style: italic;
}

img {
    width: 20%;
}

a {
    color: mediumaquamarine;
    text-decoration: none;
    }
/* 
a:visited {
    color: silver;
    } */

a:hover {
    color: rgb(0, 0, 0);
    /* transition: .5s font-color ease; */
    font-style: italic;
    }

.fab {
    color: mediumaquamarine;
}

.fab:hover {
    transition: .25s font-size ease;
    font-size: 105%;
}

.far {
    color: mediumaquamarine;
}
